<h1><%= title %></h1>
<div class="row">
    <div class="col-4 bg-light text-white">
        <%= form_tag(page_path, method: :get, class: "mb-3") do %>
            <h5 class="text-dark">Search</h5>
            <%= text_field_tag(:search, params[:search] ) %>
            <br />
            <h5 class="text-dark">Team</h5>
            <%= select_tag(:choice, options_from_collection_for_select(@teams, "id", "name"), prompt: "Select a team") %>
            <br />
            <br />
            <%= submit_tag("Submit") %>
        <% end %>
        <div>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <%= link_to "All", cards_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "New Cards", new_cards_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Updated Cards", updated_cards_path, class: "nav-link" %>
                </li>
            </ul>
        </div>

    </div>

    <div class="col-8">
        <%= render partial: 'cards', locals: {cards: @cards} %>
    </div>
</div>