<h1>Checkout</h1>

<ul class="list-group">
    <% session[:cart].each do |item| %>
        <li class="list-group-item">
            Card: <%= Card.find(item["id"]).player.name %> <br />
            Team: <%= Card.find(item["id"]).team.name %> <br />
            Quantity: <%= item["quantity"] %> <br />
            Price: $<%= Card.find(item["id"]).price %> <br />
        </li>
    <% end %>

</ul>

<h3>Total: $<%= @total %></h3>

<%= link_to "Place Order", place_order_path %>